{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Uploader</title>
</head>
<body>
    <h1>Upload Video</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <h1>Video List</h1>
    <ul>
        {% for video in videos %}
        <li>{{ video.title }} - Processed: {{ video.processed_status }}</li>
        {% endfor %}
    </ul>

    {% if video %}
    <video controls>
        <source src="{{ videos.v_file.url }}" type="video/mp4">
        {% for lang, subtitle in video.subtitles.items %}
        <track src="{{ subtitle }}" kind="subtitles" srclang="{{ lang }}" label="{{ lang }}">
        {% endfor %}
    </video>
    {% endif %}
</body>
</html>

{% endblock %}